.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 75px 0;
}
.thanks {
  height: 50vh;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;

  color: #2c3d78;
}
