.checkout {
  width: 658px;
  height: 557px;
  padding: 40px 60px;
  background: #ffffff;
  /* fav drop */

  box-shadow: 0px 0px 30px rgba(44, 61, 120, 0.15);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.main__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  input {
    background: #ffffff;
    border: none;
    border-bottom: 1px solid #636e7e;
    padding: 14px 20px 7px 10px;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;

    color: #2c3d78;
    filter: drop-shadow(0px 14px 20px rgba(131, 119, 198, 0.11));
    &:nth-of-type() {
      background-color: red;
    }
  }
  h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #2c3d78;
    text-align: center;
  }
  label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    width: 100%;
    color: #636e7e;
  }
  section {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    label {
      width: 49%;
    }
  }
  button {
    margin: 0 auto;
    width: fit-content;
    padding: 17px 22px;
    background: #2c3d78;
    border-radius: 43px;
    border: none;
    color: #fff;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
  .payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      display: flex;
      align-items: center;
      justify-items: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      gap: 5px;
      margin-top: 5px;
      input {
        width: 10px;
      }
    }
  }
}
