.container {
  width: 320px;
  height: 230px;
  border-radius: 20px;

  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(131, 119, 198, 0.28);
  overflow: hidden;

  &__top {
    position: relative;
  }

  &__about {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 98%;

    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 48px;

      color: #ffffff;

      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    }
  }

  &__categories {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    p {
      background: rgba(0, 0, 0, 0.45);
      border-radius: 5px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;

      padding: 2px 5px;
      margin-right: 10px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 8px 30px;
    .delivery {
      display: flex;
      align-items: center;
    }
  }
}
