.root {
  position: relative;
}
.input {
  border: 1px solid #eea840;
  border-radius: 13px;
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  letter-spacing: 0.2px;

  color: #2c3d78;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 14px;
  right: 12px;
}
.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.popup {
  position: absolute;
  top: 50px;
  padding: 20px 0;
  left: 0;
  background-color: white;
  border-radius: 20px;
  width: 100%;

  background: #ffffff;

  /* drop */

  box-shadow: 0px 14px 20px rgba(131, 119, 198, 0.11);
  border-radius: 22px;

  a {
    display: block;

    padding: 10px 0;
    padding-left: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    letter-spacing: 0.2px;
    border-radius: 10px;
    color: #2c3d78;

    text-decoration: none;
    &:hover {
      background: rgba(199, 209, 244, 0.32);
      cursor: pointer;
    }
    &.selected {
      border: #2c3d78 2px solid;
      background: rgba(199, 209, 244, 0.32);
      cursor: pointer;
    }
  }
}
