.productblock {
  width: 234px;
  height: 150px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(131, 119, 198, 0.28);
  border-radius: 20px;
  position: relative;
  padding: 14px;
  &__top {
    display: flex;
    flex-direction: row;
    img {
      width: 90px;
      height: 90px;
    }

    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 0.2px;

      color: #040b20;
    }
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #040b20;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    span {
      background: rgba(131, 119, 198, 0.11);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      width: 22px;
      height: 22px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
