.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 100px 100px 100px;

  h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #2c3d78;
    letter-spacing: 0.2px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    width: 158px;

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 48px;
      color: #636e7e;
    }

    ul {
      li {
        text-decoration: none;
        border-bottom: 1px solid #d6d6d6;

        padding: 10px;

        list-style: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 138% */

        letter-spacing: 0.2px;
        cursor: pointer;
        color: #2c3d78;

        &.active {
          background-color: #636e7e28;
        }
      }
    }
  }
}

.establishment__restorants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 46px;
  grid-row-gap: 46px;
  padding-top: 20px;
}
